---
layout: single
title: Gallery
permalink: /gallery/
author_profile: true

gallery1:
  - url: /assets/images/gallery/Group_lunch_Feb2024.png
    image_path: /assets/images/gallery/Group_lunch_Feb2024.png
    alt: "placeholder image 1"
    title: "Image 1 title caption"
  - url: /assets/images/gallery/OSM2024_JPphoto.jpg
    image_path: /assets/images/gallery/OSM2024_JPphoto.jpg
    alt: "placeholder image 2"
    title: "Image 2 title caption"

gallery2:
  - url: /assets/images/gallery/ProvidenceGroupPhoto.jpeg
    image_path: /assets/images/gallery/ProvidenceGroupPhoto.jpeg
    alt: "placeholder image 3"
    title: "Image 3 title caption"
  - url: /assets/images/gallery/SCOPE_GROUP_PHOTO_2022.jpg
    image_path: /assets/images/gallery/SCOPE_GROUP_PHOTO_2022.jpg
    alt: "placeholder image 4"
    title: "Image 4 title caption"

---

This page is under construction. Stay tuned!<br>
<br>
¯\_༼ •́ ͜ʖ •̀ ༽_/¯


{% include gallery id="gallery1" caption="This is a sample gallery with **Markdown support**." %}

{% include gallery id="gallery2" caption="This is a sample gallery with **Markdown support**." %}
